body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("./bg.png");
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin-top: 50px;
	text-align: center;
	color: #fff;
}

div {
	text-align: left;
}

#faultyItems {
	visibility: hidden;
}

#launchForm {
	background-color: #ecf0f1;
	text-align: center;
	margin: auto;
	width: 25%;
	border: 3px solid black;
	padding: 10px;
}

#launchStatusCheck {
	background-color: #ecf0f1;
	text-align: center;
	margin: 50px auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
}

#missionTarget img {
	max-width: 40%;
	max-height: 250px;
}

#missionTarget ol,
li {
	list-style: none;
	padding: 0;
}

#missionTarget {
	background-color: #ecf0f1;
	text-align: center;
	margin: 50px auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
}

button {
	background-color: #419f6a;
	border: none;
	color: white;
	border-radius: 8px;
	width: 25%;
	height: 30px;
	margin: 10px 0;
}
